<!doctype html>
<html>
<head>
    <title>SMS Web App</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
<div>
    <h1>Please enter a valid phone number!</h1>
    
    <section>

    	<form class="phone" method="post">

    		<input type="text" name="phonenumber" placeholder="XXX-XXX-XXXX" required />

    		<input type="submit" value="Send a Text" />

    	</form>

    </section>

</div>
</body>
</html>